* {
  margin: 0;
  padding: 0;
}

#splash > * {
    display: block;
    margin-top: 30px;
}

#splash > *:first-child {
    margin-top: 0px;
}

div#splash {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  visibility: visible;
  z-index: 1000;
}

img.resize {
  height: 120px;
  width: auto;
}

.title-center {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50%;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.center {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.score {
  text-align: center;
  font-size: 50px;
  font-family: Roboto, Helvetica, sans-serif;
  color: green;
  user-select: none;
  height: 750px;
  width: auto;
  position: relative;
}

.counter {
  width: auto;
  padding-top: 15px;
  margin: 0 auto;
  font-family: Roboto, Helvetica, sans-serif;
  color: orange;
  text-align: center;
  font-size: 50px;
  font-weight: 700; 
  position: relative;
  z-index: 9999;
}

.box {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -150px;
  transition: transform 1.5s linear;
  cursor: pointer;
  z-index: 100;
}

.move {
  transform:translateY(100vh);
}

.container {
  width: 100%;
  height: 750px;
  position: relative;
  background: #efefef;
  visibility: visible;
}

#StartButton {
  background: transparent;
  border: none;
}


#animatedTrash {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: falling 5s ease-in infinite;
}

@keyframes falling{
  0%{top: 0px}
  100%{top: 400px}
}
